 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Zachary Herbert. I am located in Salt Lake City, UT. I am a freelance 3D Animator, Video Editor, and Digital Editor. In all my work, I emphasize quick, high quality turnaround with emphasis on design.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am newly out of the water, and so my prices are low as I build my portfolio. You may contact me below, and I hope to hear from you soon!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
